@font-face {
font-family: "minecraft";
src: url('font/Minecraft.ttf');
}

body{
	background-color:#032408;
	color: #2DB664;
	font-family: "minecraft";
}
h1{
	font-family: "minecraft";
}




/*----------------------------------------------section menu deroulant-----------------------------------*/
/*taille et couleur de la barre du menu deroulant*/
nav
{
    width: 100%;
    background-color: #032408;
    
    border-radius: 0px;
    font-family: "minecraft";
    font-size: 20px;
    padding-bottom: -20px;
    border-bottom: 2px solid #2DB664;
    position: fixed;
    top: 0px;

}
/*-------------------------*/

/*couleur du text dans les bouton + padding des bouton*/
nav > ul > li > a
{
    text-align: center;
    width: 220px;
    height: 35px;
    padding: 30px;
    color: #2DB664;
    margin-top: 0px;
    align-content: center;
    border-left: 2px solid #2DB664;
    border-right: 2px solid #2DB664;
    

}
/*-------------------------*/
/* logo */
.logo{
    margin-top: 30px;
    margin-left: 50px;
    color: #2DB664;
    padding-right: 40px;
}
/*-------------------------
/* separation des boutons */
.sep{
    margin-top: 30px;
    color: #2DB664;
}
/*-------------------------*/
/* espace bouton conexion */
.esp{
    padding-right: 893px;
    margin-top: 30px;
    color: #2DB664;
}
.submenu1{
    font-size: 20px;
}
/*-------------------------*/
/* Sous-Menus */
.menu2 .submenu1
{
    transition-duration: 0.3s;
    color: #2DB664;
    background-color: #033F08;
    font-family: "minecraft";
    font-size: 20px;
    margin-top: 1px;
  
}
/*-------------------------*/

/*sous-sous-menu*/
.menu2 .submenu1 .subsubmenu
{
    transition-duration: 0.3s;
    color: #2DB664;
    background-color: #033F08;
    font-size: 20px;
    font-family: "minecraft";
}
/*-------------------------*/

/*bouton survollé*/
.menu2:hover .nolink
{
    transition-duration: 0.1s;
    background-color: #2DB664;
    color: #030F08;
    
}
/*-------------------------*/

/*bouton sous-menu survolé*/
.menu2 .submenu1 li:hover > a
{
    transition-duration: 0.1s;
    background-color: #2DB664;
    color: #030F08;
}
/*-------------------------*/

/*bouton sous-sous-menu survolé*/
.menu2 .subsubmenu li:hover a
{
    color: black;
    background-color: ;
}
/*-------------------------*/

/*taille, couleur et taille de la police, longueur des boutons des sous menu*/
.submenu1 li a
{
    padding: 15px 30px;
    font-size: 20px;
    color: #2DB664;
    width: 280px;
    border-top: 1px solid #2DB664;
}
/*-------------------------*/

/*-----au cas ou, pour le telephone------*/

 
/*-------------------------*/



/*pas touche*/
html, body {
  padding:0;
  margin:0;
}
nav > ul
{
    margin: 0px;
    padding: 0px;
}

nav > ul::after
{ 
    content: "";
    display: table;
    clear: both;
}

nav li 
{
    list-style-type: none;
}

nav > ul > li 
{
    float: left;
    position: relative;
}

nav a
{
    display: inline-block;
    text-decoration: none;
}
.submenu
{
    display: none;
}
.submenu1
{
    display: none;
}

.subsubmenu
{
    display: none;
}
nav li:hover .submenu
{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}
nav li:hover .submenu1
{
    transition-duration: 10s;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}
/* Mobile */

nav li > ul > li:hover .subsubmenu
{
    display: inline-block;
    position: absolute;
    padding: 0px;
    z-index: 100000;
}
.menu-mobile
{
    display: none;
}

nav input[type=checkbox]
{
    display: none;
}

nav input[type=checkbox]:checked ~ ul
{
    display: block;
}
/*-------------------------*/
/*-------------------------*/

.titreindex{
    margin-top: 375px;
    
    border: 4px solid #2DB664;
    width: 400px;
    padding: 20px;
}
.titreindex2{
    
    margin-bottom: 100px;
    border: 0px solid #2DB664;
    width: 600px;
    padding: 20px;
}

/*-------------------------------------fin section menu deroulant--------------------------------------*/
/*-------------------------------------debut section cv--------------------------------------*/
.titrecv{
    margin-top: 180px;

}
.feuille{
    border: 1px solid #2DB664 ;
    width: 1200px;
    font-size: 20px;
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 30px;
}

.tab1{
    width: 100%;
}
.col1l1{
    padding: 10px;
}
.col2l1{
    padding: 10px;
}
.col1l2{
    padding: 10px;
}
.col1l3{
    padding: 10px;
}
.col1l4{
    padding: 10px;
}
.col1l5{
    padding: 10px;
}
.l6{
    padding: 10px;
    text-align: center;
}


.l7{
    text-align: center;
     padding: 10px;
}
.l8{
    text-align: center;
    padding: 10px;
}
.l9{
    text-align: center;
    padding: 10px;
}
.l10c1{
    padding: 10px;
}
.l10c2{
    padding: 10px;
}
.l10c3{
    padding: 10px;
}

.l11{
    text-align: center;
     padding: 10px;
}
.l12{
    text-align: center;
     padding: 10px;
}
.l13{
    padding: 10px;
}
.l14{
    padding: 10px;
}
.l15{
    padding: 10px;
}
.l16{
    padding: 10px;
}
.l17{
    
     padding: 10px;
}
.l18{
    padding: 10px;
    text-align: center;
}
.l19{
    padding: 10px;
}
.l20{
    padding: 10px;
}
.l21{
    padding: 10px;
}
.l22{
    padding: 10px;
}
.l23{
    padding: 10px;
}
.a1 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 25px;
  display: inline-block;
  
  animation-delay: 0.1;
  
}
.a2{
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 15px;
  display: inline-block;
  
  animation-delay: 0.2;
}
.a3 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 20px;
  display: inline-block;
  
  animation-delay: 3;
  
}
.a4 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 15px;
  display: inline-block;
  
  animation-delay: 0.4;
}
.a5 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 5px;
  display: inline-block;
  
  animation-delay: 0.5;
}
.a6 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 15px;
  display: inline-block;
  
  animation-delay: 0.6;
}
.a7 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 15px;
  display: inline-block;
  
  animation-delay: 0.7;
}
.a8 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 10px;
  display: inline-block;
  
  animation-delay: 0.8;
}
.a9 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 15px;
  display: inline-block;
  
  animation-delay: 0.9;
}
.a10 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 10px;
  display: inline-block;
  
  animation-delay: 1,;
}
.a11{
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 20px;
  display: inline-block;
  
 animation-delay: 1,1; 
}
.a12 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 12px;
  display: inline-block;
  
  animation-delay: 1,2;
}
.a13 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 4px;
  display: inline-block;
  
  animation-delay: 1,3;
}
.a14 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 14px;
  display: inline-block;
  
  animation-delay: 1,4;
}
.a15{
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 15px;
  display: inline-block;
  
  animation-delay: 1,5;
}
.a16{
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  width: 20px;
  display: inline-block;
  
  animation-delay: 1,6;
}

@keyframes slidein {
    from{
        opacity: 0; 
    }
    to{
        opacity: 1.0;
  }
}

/*-------------------------------------fin section cv--------------------------------------*/

/*-------------------------------------debut section TS--------------------------------------*/
.divts{
    margin-top: 200px;
}
.titrets{
    margin-bottom: 75px;
}
/*-------------------------------------fin section TS--------------------------------------*/

/*-------------------------------------debut section stage--------------------------------------*/
.titrestage{
    margin-top: 200px;
}
h3{
    text-align: left;
    margin-left: 50px;
}
.textestage{
    text-align: left;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.lienstage:hover{
    text-decoration: none;
}
/*-------------------------------------fin section stage--------------------------------------*/

/*-------------------------------------debut section footer--------------------------------------*/
footer{
    border-top: 2px solid #2DB664 ;
    height: 75px;
    text-align: center;
    width: 100%;
}
.copyrigth{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}









/*
@media screen and (max-width: 680px)
{
    header {
        width: 100%;
    }
    .titrecv{
        font
    }
    footer {
        width: 100%;
        font-size: 10px;
    }
    body{
        width: 100%;
    }
    .menu-mobile
    {
        display: block;
        color: #2DB664;
        background-color: #030F08;
        text-align: center;
        padding: 12px 0;
        border-bottom: 1px solid #2DB664;
    }
    .menu-title
    {
        display: none;
    }
    nav ul 
    {
        display: none;

    }
    nav ul li, nav ul li a
    {
        width: 100%;
        text-align: center;
        
    }
    nav ul li a, nav ul li:hover a
    {
        padding: 10px 0px 10px 0px;
    }
    nav li:hover .submenu
    {
        display: block;
        
        width: 100%;
    }
    .menu2{

    }
    .submenu1{
       
        width: 100%;
    }
    .sublink{
        width: 100%;
    }
    .submenu1 li a
    {
    padding: 15px 30px;
    font-size: 20px;
    color: #2DB664;
    width: 100%;
    border-top: 1px solid #2DB664;
    }
    
    .submenu1:hover .menu2{
       margin-bottom: 300px;
    }
    

    /*cv---------------------------------------------------------------- *//*
    .titrecv{
    margin-top: 180px;

}
.feuille{
    border: 1px solid #2DB664 ;
    width: 70%;
    font-size: 20px;
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 30px;
}

.tab1{
    width: 90%;
    font-size: 13px;
}
/*
.col1l1{
    padding: 10px;
}
.col2l1{
    padding: 10px;
}
.col1l2{
    padding: 10px;
}
.col1l3{
    padding: 10px;
}
.col1l4{
    padding: 10px;
}
.col1l5{
    padding: 10px;
}
.l6{
    padding: 10px;
    text-align: center;
}


.l7{
    text-align: center;
     padding: 10px;
}
.l8{
    text-align: center;
    padding: 10px;
}
.l9{
    text-align: center;
    padding: 10px;
}
.l10c1{
    padding: 10px;
}
.l10c2{
    padding: 10px;
}
.l10c3{
    padding: 10px;
}

.l11{
    text-align: center;
     padding: 10px;
}
.l12{
    text-align: center;
     padding: 10px;
}
.l13{
    padding: 10px;
}
.l14{
    padding: 10px;
}
.l15{
    padding: 10px;
}
.l16{
    padding: 10px;
}
.l17{
    
     padding: 10px;
}
.l18{
    padding: 10px;
    text-align: center;
}
.l19{
    padding: 10px;
}
.l20{
    padding: 10px;
}
.l21{
    padding: 10px;
}
.l22{
    padding: 10px;
}
.l23{
    padding: 10px;
}
*/
/*
}
Content*/